/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #000000;
    text-align: center;
}

/* Header */
header {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    background-color: #2c6e68;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    position: relative; 
    gap: 10px; 
}

.logo img {
    height: 80px;
    position: absolute; 
    left: 0; 
    cursor: pointer;
}

#header-usuario {
    flex-grow: 1;
    text-align: center; 
}

/* Botón de cerrar sesión */
#logout-button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2c6e68;
    color: white;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #1e4a47;
}

/* Menú */
nav {
    margin-top: 20px;
    width: 100%;
    text-align: center; 
}

nav ul {
    list-style: none;
    display: inline-block;
    gap: 30px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #1e4f4d;
    color: #f8f8f8;
}

/* Main Content Styles */
.main-content {
    margin-top: 100px;
}

.login-container {
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #555;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

